DB_SERVER=DESKTOP-9P1IGU0\SQLEXPRESS
DB_NAME=AIProjectMentor
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUSTED_CONNECTION=yes
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=yes

OLLAMA_API_KEY=415207ecbc8846dc8c4ca215503191ad.LenZqAWqtR-DwbiWkapU9vc4

OLLAMA_HOST=https://ollama.com
OLLAMA_MODEL=gpt-oss:20b
OLLAMA_THINK_LEVEL=low